.homePageMainParent {
    height: 130vh;
    background: rgba(1, 4, 23, 1);
    color: white;
    max-height: 130vh;
}

.frogText {
    font-size: 4rem;
    text-align: left;
    position: relative;
}

.HomeLineHold {}

.whiteLine {
    background: rgba(136, 136, 136, 1);
    width: 0.4rem;
    height: 8rem;
    border-radius: 11px;
    cursor: pointer;
}

.greenChevron {
    top: -0.2rem;
    margin-right: -0.3rem;
}

.homeTextMainContainer {
    width: 48rem;
    justify-content: space-evenly;
    z-index: 9 !important;

}

.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(-47%, -43%);
    text-align: center;
    color: white;
    font-weight: bold;

}

.borderBottomPriceBox {
    border-bottom: 2px solid white;
}

@media(max-width:650px) {
    .boxTxtMainParent {
        font-size: 14px !important;
        padding-left: 1.4rem !important;
        padding-right: 1.7rem !important;

    }

    .priceBoxImg {
        height: 16rem !important;
    }

}









.abtus {
    color: rgba(230, 230, 230, 1);

    position: relative;
    height: 3rem;
}

.homeLine {

    position: relative;
    top: -0.15rem;
    padding-left: 0.15rem;
    margin-right: 1rem;
}

.moonBtn {
    background: rgba(177, 179, 196, 1);

    width: 6rem;
    height: 2.2rem;
    border-radius: 16px;
    padding-left: 1.2rem;
    padding-top: 0.28rem;
    color: black;
}

@media(max-width:600px) {
    .HomeLineHold {
        margin-right: 1rem;
    }

    .lineHold4 {
        padding-left: 1.4rem;

    }

    .homeTxtHold {
        padding-left: 0rem;
        padding-right: 1.6rem;
    }

    .pg4CTAConatiner {
        padding-left: 0.5rem;
        padding-right: 1.5rem;
    }

    .frogText {
        font-size: 2.8rem;
    }

    .dotLine {
        display: none;
    }

    .journey {

        padding-right: 0rem;
        padding-bottom: 1rem;
    }

    .HomeLineHold2 {
        margin-left: 1.6rem;

    }

    .cardsHold {
        margin-left: -2rem;
    }

    .homePageMainParent2 {
        min-height: 96rem !important;

    }

    .homeTextMainContainer4 {
        padding-right: 2rem;
    }

    .homePageMainParent {
        height: 146vh !important;

    }

    .homePageMainParent3 {
        height: 113vh !important;
    }
}

.asset1Hold {
    position: relative;
    top: -32rem;

}

.asset1 {
    width: 43rem;
}

@media(max-width:1320px) {
    .asset1 {
        width: 27rem;
    }
}

@media(max-width:1150px) {
    .asset1Hold {
        display: none;
    }
}

@media(max-width:800px) {
    .homePageMainParent {
        height: 146vh;
        max-height: 147vh;

    }
}


@media(max-width:650px) {
    .caption {

        position: absolute;
        top: 50%;
        left: 28%;
        transform: translate(-25%, -43%);
        text-align: center;
        color: white;
        font-weight: bold;
    }
}

/*   HOME PAGE 2 STYLES    */



.homePage2CardsHold {
    width: 45rem;
}

.homeTxtHold2 {
    width: 59rem;
    z-index: 9 !important;

}

.asset1HoldPage2 {}

.homePage2IndivitualCard {
    background: rgba(1, 4, 23, 1);
    width: 8.45rem;
    height: 11.7rem;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.449);
    text-align: center;
    transition: all ease 320ms;
}

.homePage2IndivitualCard:hover {
    height: 20.6rem;
    background: rgba(4, 10, 66, 1);

}

.homePage2IndivitualCard:hover>.twitter-icon-container {
    margin-right: 2rem;
    text-align: center;
    width: 6.5rem;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.homePage2IndivitualCard:hover::after {
    content: "To the ones with the courage to jump down a peculiar rabbit hole. One that pulls you away from a world.";
    font-size: 12px;
    text-align: left;
    display: flex;
    padding-left: 1.2rem;
    padding-right: 0.4rem;
}


.card3Img {
    position: relative;

}

.card3Text {
    position: relative;
    top: 0.2rem;

}

.card4Text {
    position: relative;
    top: -0.7rem;
}

.card5Text {
    position: relative;
    top: -0.4rem;
}

.cardSubHeading {
    color: rgba(204, 204, 204, 1);
    margin-bottom: 1rem;

}



/* SEC 2 RESPONSIVE */

@media(min-width : 1100px) and (max-width:1150px) {
    .homeTxtHold2 {
        width: 60rem;
    }
}

@media(min-width : 1050px) and (max-width:1100px) {
    .homeTxtHold2 {
        width: 57.4rem;
    }
}


@media(min-width : 1000px) and (max-width:1050px) {
    .homeTxtHold2 {
        width: 52.4rem;
    }
}


@media(min-width : 950px) and (max-width:1000px) {
    .homeTxtHold2 {
        width: 49.4rem;
    }
}

@media(min-width : 900px) and (max-width:950px) {
    .homeTxtHold2 {
        width: 47.4rem;
    }
}

@media(min-width : 600px) and (max-width:695px) {
    .homeTxtHold2 {
        width: 36rem;
    }
}



@media(min-width:1100px) {
    .manifestoLogoHold {
        position: relative;
        top: -1rem;
    }
}


.homePageMainParent2 {
    position: relative;
    padding-top: 3rem;
    height: auto;
    min-height: 53rem;
}

.homeTextMainContainer2 {
    width: 73rem;

}

.codeImg {
    position: relative;
    left: 3rem;
    top: -3rem;
}

.whirlPool {
    margin-left: 0;
    position: relative;
    top: -8rem;
    width: auto;
    min-height: 9rem;
    object-fit: contain;
    height: auto;
    min-width: 15rem;
    left: -2rem;
}

.img4 {
    position: relative;
    top: -3rem;
    left: 4rem;
}

.img5 {
    position: relative;
    top: -3rem;
    left: 4rem;
}

.indivitualCard {
    transition: all ease-in 280ms;
    cursor: pointer;
}



@media (min-width : 601px) and (max-width : 695px) {

    .homePageMainParent2 {
        min-height: 71rem;
    }


}

@media(max-width:510px) {
    .homePage2CardsHold {
        width: 25rem;
    }
}


/* SECTION2 AND SEC4 RESPONSIVE */
@media (min-width : 695px) and (max-width : 795px) {

    /* SEC 2 */
    .cardsHold {
        width: 38.8rem;

    }

    .homeTxtHold2 {
        width: 36rem !important;
        height: 58rem;

    }

    .homePageMainParent2 {
        min-height: 71.5rem;

    }

    /* SEC4 */
    .lineHold4 {
        padding-left: 8rem;
    }

    .homeTxtHold4 {
        padding-left: 3rem;
    }

    .page4Indivitual {
        width: 17rem !important;
    }

    .homeTextMainContainer4 {
        padding-right: 4.3rem;
    }

    .cardimg4 {
        margin-left: 0.5rem;
    }

}

/* SECTION2 AND SEC4 RESPONSIVE */
@media (min-width : 795px) and (max-width : 895px) {

    /* SEC2 */
    .cardsHold {
        width: 38.8rem;

    }

    .cardimg4 {
        margin-left: 0.5rem;
    }

    .homeTxtHold2 {
        width: 43.5rem !important;
        height: 58rem;

    }

    .homePageMainParent2 {
        min-height: 54rem;

    }

    .homePage2CardsHold {}





    /* SEC 4 */
    .lineHold4 {
        padding-left: 7rem;
    }

    .homeTxtHold4 {
        padding-left: 3rem;
    }

    .page4Indivitual {
        width: 18.3rem !important;
    }

    .homeTextMainContainer4 {
        padding-right: 4.3rem;
    }

}

@media (min-width : 895px) and (max-width : 1000px) {

    /* SEC2 */
    .cardsHold {
        width: 38.8rem;

    }


    .homePageMainParent2 {
        min-height: 50rem;

    }


    /* SEC 4 */
    .lineHold4 {
        padding-left: 7rem;
    }

    .homeTxtHold4 {
        padding-left: 3rem;
    }

    .page4Indivitual {
        width: 18.3rem !important;
    }

    .homeTextMainContainer4 {
        padding-right: 4.3rem;
    }

}




.indivitualCard:hover {

    height: 20rem;
}

.highlighted {
    background-color: #FFFFFF;
    transition: all ease 400ms;
}