@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Poppins:wght@500;600;700;800;900&display=swap');


body {
  font-family: Poppins;
}

.popinsFont {
  font-family: Poppins;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/*  CUSTOM FONT */

@font-face {
  font-family: 'Berlin';
  src: url('./BerlinFonts/Berlin-Bold.eot');
  /*src: url('Berlin-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Berlin-ExtraBold.woff2') format('woff2'),
    url('Berlin-ExtraBold.woff') format('woff'),
    url('Berlin-ExtraBold.svg#Berlin-ExtraBold') format('svg');*/
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berlin';
  src: url('./BerlinFonts/Berlin-Bold.woff');
  /* src: url('Berlin-Bold.eot?#iefix') format('embedded-opentype'),
    url('Berlin-Bold.woff2') format('woff2'),
    url('Berlin-Bold.woff') format('woff'),
    url('Berlin-Bold.svg#Berlin-Bold') format('svg');*/
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berlin';
  src: url('./BerlinFonts/glitch\ mark\ 1.ttf');
  /* src: url('Berlin-Bold.eot?#iefix') format('embedded-opentype'),
    url('Berlin-Bold.woff2') format('woff2'),
    url('Berlin-Bold.woff') format('woff'),
    url('Berlin-Bold.svg#Berlin-Bold') format('svg');*/
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.glitch {
  font-family: mokoto glitch mark I;
}

.nav1{
  top: -0.5rem;
}


/*@font-face {
  font-family: 'Berlin';
  src: url('Berlin-Regular.eot');
  src: url('Berlin-Regular.eot?#iefix') format('embedded-opentype'),
    url('Berlin-Regular.woff2') format('woff2'),
    url('Berlin-Regular.woff') format('woff'),
    url('Berlin-Regular.svg#Berlin-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berlin';
  src: url('Berlin-Light.eot');
  src: url('Berlin-Light.eot?#iefix') format('embedded-opentype'),
    url('Berlin-Light.woff2') format('woff2'),
    url('Berlin-Light.woff') format('woff'),
    url('Berlin-Light.svg#Berlin-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}*/